GRAPHQL_PORT=4000
SOCKETIO_PORT=3000
MONGODB_URL=mongodb://localhost:27017/gantree
APP_URL=http://localhost:5000
SECRET_KEY=1234567890abcdefghijklmnopqustuvwxyz
TEAMSTORAGE_ROOT=.
MOCK_CLI=false
LOGGING_ON=false
EMAILER_ENV=ethereal
EMAILER_HOST=smtp.ethereal.email
EMAILER_PORT=587
EMAILER_SECURE=false
EMAILER_ACC_USER=your@email.account
EMAILER_ACC_PASS=your-email–password
FIREBASE_APIKEY=[firebase creds]
FIREBASE_AUTHDOMAIN=[firebase creds]
FIREBASE_DATABASEURL=[firebase creds]
FIREBASE_PROJECTID=[firebase creds]
FIREBASE_STORAGEBUCKET=[firebase creds]
FIREBASE_MESSAGINGSENDERID=[firebase creds]
FIREBASE_APPID=[firebase creds]